.chessboard {
  width: 450px;
  height: 500px;
  position: relative;
  background-color: #f4dcb7;
  border: 2px solid #000;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 50px);
  grid-template-rows: repeat(9, 50px);
  position: absolute;
  top: 25px;
  left: 25px;
}

.line {
  position: absolute;
  background-color: black;
}

.vertical {
  width: 1px;
  height: 500px;
}

.horizontal {
  height: 1px;
  width: 450px;
}

.piece {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.piece.red {
  background-color: #ffaaaa;
  color: red;
  border: 2px solid red;
}

.piece.black {
  background-color: #dddddd;
  color: black;
  border: 2px solid black;
}
